<ion-header>
  <ion-item>
    <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2019" [value]="today" (ionChange)="updateDate($event)">
    </ion-datetime>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list *ngIf="todayActivities && todayActivities.length && date == today">
    <ion-list-header>
      <ion-label>Achievements</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let activity of todayActivities">
      <ion-item>
        <ion-label>{{activity.category + ": " + activity.content}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(activity, true)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="historicalActivities && historicalActivities.length && date != today">
    <ion-list-header>
      <ion-label>Achievements</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let activity of historicalActivities">
      <ion-item>
        <ion-label>{{activity.category + ": " + activity.content}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(activity, false)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="date == today">
    <ion-list-header>
      <ion-label>Add Achievements</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Activity Type</ion-label>
      <ion-select placeholder="Select One" [value]="activityType" (ionChange)="updateSelection($event)">
        <ng-container *ngFor="let category of categories">
          <ion-select-option [value]="category">{{category}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Input Here" [value]="input" (ionChange)="updateInput($event)"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" color="success" [disabled]="!input || !activityType" (click)="submit()">Submit
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>