<ion-header>
  <ion-toolbar>
    <ion-title>
      Health Data
    </ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showForm = !showForm">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let category of categories">
    <ion-item>
      <ion-card [color]="category.color" button="true">
        <ion-card-header>
          <ion-card-title>{{category.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="delete(category.title)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>

<ion-footer *ngIf="showForm">
  <ion-item>
    <ion-input placeholder="Input Here" (ionChange)="updateInput($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button fill="clear" color="success" [disabled]="!input" (click)="add()">Add
    </ion-button>
  </ion-item>
</ion-footer>